<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.charlie.sqlcat.mapper.BaseMapper">

    <resultMap id="BaseResultMap" type="cn.charlie.sqlcat.entity.BaseInfo">
        <result property="baseId" column="base_id" jdbcType="BIGINT"/>
        <result property="baseCode" column="base_code" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumnList">
        base_id,
        base_code
    </sql>

    <select id="queryById" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from base_info
        where base_id = #{baseId}
    </select>

    <select id="queryByParam" resultMap="BaseResultMap" parameterType="cn.charlie.sqlcat.entity.BaseInfoParam">
        select
        <include refid="BaseColumnList"/>
        from base_info
        where base_code = #{baseCode} and
        base_id = #{baseId}
    </select>
</mapper>
